<h1>
    管理者専用画面
</h1>
<h1>
    ユーザー一覧
</h1>

<div class= "container">
    <% @users.each do |user| %>
        <div class="row justify-content-md-center">
            <div class="col-1 text-center border d-flex align-items-center"><%= user.id %></div>
            <div class="col-2 border d-flex align-items-center"><%= user.email %></div>
            <% if user.admin == true %>
                <div class="col-2 border d-flex align-items-center"><%= user.admin %></div>
            <% else %>
                <div class="col-2 border d-flex align-items-center">無し</div>
            <% end %>
        </div>
    <% end %>
</div>