<h1 class="text-center my-4">管理者専用画面</h1>

<div class="container text-center">
  <div class="row justify-content-center">
    <!-- 印刷テンプレートリンク -->
    <div class="col-md-4 mb-3">
      <%= link_to "印刷テンプレート", print_images_path, class: "btn btn-primary btn-lg btn-block shadow" %>
    </div>

    <!-- 単発おもちゃリンク -->
    <div class="col-md-4 mb-3">
      <%= link_to "単発おもちゃ", single_posts_path, class: "btn btn-success btn-lg btn-block shadow" %>
    </div>
  </div>
</div>