<h1>Topページ</h1>
<p>Find me in app/views/core_pages/top.html.erb</p>

<li> <%= link_to "質問の作成", new_form_question_path %> </li>

<% @form_questions.each do |form_question| %>
    <%= form_question.subject_form_question %>
    <%= form_question.content_form_question %>
<% end %>