<% content_for :additional_stylesheets do %>
    <%= stylesheet_link_tag "only_for_core_pages", media: "all", "data-turbo-track": "reload" %>
<% end %>

<div class="container text-center mt-5">


  <!-- サイトキャッチ -->
  <h1 class="mb-5 text-secondary">幼稚園 保育園 の 負担を軽減にする</h1>

  <!-- ボタンリンク -->
  <div class="d-grid gap-3 col-6 mx-auto">
    <%= link_to "印刷テンプレートはこちら", print_images_user_index_path, class: "btn btn-primary btn-lg rounded-pill shadow" %>
    <!--<%= link_to "単発おもちゃはこちら", single_posts_user_index_path, class: "btn btn-success btn-lg rounded-pill shadow" %>  開発中  -->
  </div>

  <!-- サイト概要 -->
  <h3 class="mb-5 text-secondary">欲しい画像をダウンロードしてそのまま利用可能</h3>
</div>