<h1>Editing Print Image</h1>

<%= render partial: 'form', locals: { print_image: @print_image, events: @events, categories: @categories } %>

<%= link_to 'Show', @print_image %> |
<%= link_to 'Back', print_images_path %>
