userが見る印刷テンプレートshow

<tr>
</tr>

<li>
    <%= link_to "userが見る印刷テンプレートindex", print_images_user_index_path %>
</li>

<h2>画像をダウンロード</h2>
<ul>
  <% @print_image.image_for_download.each do |image| %>
    <li>
      <%= link_to "ダウンロード - #{image.filename}", download_print_image_path(@print_image, image_id: image.id), target: "_blank" %>
    </li>
  <% end %>
</ul>
